.Modal {
  padding: 40px 55px 0px 20px;
    min-width: 300px;
    min-height: 200px;
    max-width: 700px;
    max-height: 450px;
    background: rgba(143, 139, 139, 0.918);
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  }

  
  .Modal__close {
    font-size: 1.5em;
    position: absolute;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 5px;
    border-radius: 1.5%;
    color: rgb(255, 255, 255);
    transition: all 1s;
    z-index: 1;
  }
  
  .Modal__close:hover {
    background-color: rgba(96, 38, 38, 0.515);
  }
  
  .Modal__body {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 400px) {
    .Modal {
      padding: 15px 70px 15px 15px;
    }
  }